.assignment {
  &-menu {
    .notify-icon {
      margin-left: 26px;
    }
  }

  &-content-header {
    margin-bottom: 6px;
  }

  &-content-body {
    .list-group .active {
      background: $gray-100;
      border: 1px solid $gray-400;
    }
  }
}
